@import "~src/scss/includes/colors";

.container-fluid {
	padding: 30px 0;
	min-height: 100vh;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	
	> .row {
		display: flex;
		
		> .col {
			padding: 0 15px;
			
			&.col-4 {
				width: calc(100% / 3);
			}
			&.col-8 {
				width: calc(200% / 3);
			}
			
			.form_create, .form_edit {
				
				.field_group {
					margin-bottom: 15px;
					
					.label {
						margin-bottom: 5px;
						color: #555;
					}
					
					.field {
						
						&.examples {
							height: auto;
						}
						
						&.type_new, &.group_new {
							margin-top: 10px;
						}
					}
				}
				
				.submit_con {
					display: flex;
					justify-content: center;
					
					> .submit {
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0 10px;
						padding: 5px 20px;
						color: #fff;
						background-color: $color_green_500;
						transition: all 250ms;
						cursor: pointer;
						&:hover {
							background-color: $color_green_300;
						}
					}
				}
			}
			
			&.main {
				width: calc(100% - 300px);
				height: calc(100vh - 60px);
				
				> .chars {
					display: flex;
					justify-content: center;
					margin-bottom: 15px;
					padding-bottom: 15px;
					width: 100%;
					direction: ltr;
					border-bottom: 3px dashed #ddd;
					
					> .char {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 10px;
						width: 30px;
						height: 30px;
						direction: ltr;
						text-align: center;
						color: #fff;
						font-size: 16px;
						background-color: $color_green_400;
						//cursor: pointer;
						transition: all 250ms;
						
						&:hover {
							background-color: $color_green_300;
						}
					}
					
					> .copy {
						display: flex;
						align-items: center;
						margin-left: 30px;
						opacity: 0;
						&.show {
							opacity: 1;
						}
					}
				}
				
				> .form_search {
					display: flex;
					flex-wrap: wrap;
					margin-right: -5px;
					margin-left: -5px;
					
					> .field_con {
						padding: 0 5px;
						width: 20%;
						//&.phrase { width: calc(100% - 100px); }
						//&.letter, &.type, &.group { width: calc(100% / 3); margin-bottom: 15px; }
					}
				}
				
				> .results {
					display: flex;
					margin-top: 15px;
					padding-top: 15px;
					max-height: 100%;
					border-top: 3px dashed #ddd;
					
					> .ul {
						display: flex;
						flex-wrap: wrap;
						align-content: flex-start;
						padding-right: 10px;
						width: calc(100% - 300px);
						height: calc(100vh - 190px);
						overflow-y: scroll;
						
						> .li {
							display: flex;
							align-items: center;
							margin-bottom: 10px;
							padding: 0 10px;
							width: calc(50% - 5px);
							height: 30px;
							background-color: #fff;
							border: 1px solid #ddd;
							&:nth-child(2n+1) { margin-right: 5px; }
							&:nth-child(2n) { margin-left: 5px; }
							
							&:hover, &.active {
								color: #fff;
								background-color: $color_green_400;
								border: 0;
							}
						}
					}
					
					> .li_info {
						padding-left: 10px;
						width: 300px;
					}
				}
			}
			
			&.sidebar {
				width: 300px;
				height: calc(100vh - 60px);
				border-left: 1px solid #ddd;
			}
		}
	}
}