<div class="container">
	<div class="row no-gutters">
		
		<!-- search -->
		<div class="col col-8 search">
			<div class="form">
				<div class="chars">
					<div class="char">ä</div>
					<div class="char">ö</div>
					<div class="char">ü</div>
					<div class="char">ß</div>
				</div>
				<div class="field_con">
					<input class="field" type="text" placeholder="search">
				</div>
				<div class="submit">search</div>
			</div>
			<div class="results">
				<div class="ul">
					<div class="li">li</div>
					<div class="li">li</div>
					<div class="li">li</div>
					<div class="li">li</div>
					<div class="li">li</div>
					<div class="li">li</div>
					<div class="li">li</div>
				</div>
			</div>
		</div><!-- /search -->
		
		
		<!-- create_edit -->
		<div class="col col-4 create_edit">
			
			<div class="field_group">
				<div class="label">Word or Phrase :</div>
				<div class="field_con">
					<input class="field phrase" type="text">
				</div>
			</div>
			
			<div class="field_group">
				<div class="label">Type :</div>
				<div class="field_con">
					<select name="type" class="field type">
						<option value="name">name</option>
						<option value="name">verb</option>
						<option value="name">adjective</option>
					</select>
				</div>
			</div>
			
			<div class="field_group">
				<div class="label">Group :</div>
				<div class="field_con">
					<select name="group" class="field group">
						<option value="name">A1</option>
						<option value="name">A2</option>
						<option value="name">B1</option>
						<option value="name">B2</option>
						<option value="name">C1</option>
						<option value="name">C2</option>
					</select>
				</div>
			</div>
			
			<div class="field_group">
				<div class="label">Meaning :</div>
				<div class="field_con">
					<input class="field meaning" type="text">
				</div>
			</div>
			
			<div class="field_group">
				<div class="label">Examples (separate by enter) :</div>
				<div class="field_con">
					<textarea class="field examples" rows="3"></textarea>
				</div>
			</div>
			
			<div class="submit_con">
				<div class="submit">submit</div>
			</div>
			
		</div><!-- /create_edit -->
		
	</div>
</div>