@import "~src/scss/includes/colors";

.container-fluid {
	padding: 50px 0;
	min-height: 100vh;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	
	> .row {
		display: flex;
		
		> .col {
			padding: 0 30px;
			
			&.col-4 {
				width: calc(100% / 3);
			}
			&.col-8 {
				width: calc(200% / 3);
			}
			
			&.main {
				
				> .chars {
					display: flex;
					justify-content: center;
					margin-bottom: 30px;
					padding-bottom: 30px;
					width: 100%;
					direction: ltr;
					border-bottom: 3px dashed #ddd;
					
					> .char {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 10px;
						width: 30px;
						height: 30px;
						direction: ltr;
						text-align: center;
						color: #fff;
						font-size: 16px;
						background-color: $color_green_400;
						//cursor: pointer;
						transition: all 250ms;
						
						&:hover {
							background-color: $color_green_300;
						}
					}
					
					> .copy {
						display: flex;
						align-items: center;
						margin-left: 30px;
						opacity: 0;
						&.show {
							opacity: 1;
						}
					}
				}
				
				> .form {
					display: flex;
					flex-wrap: wrap;
					margin-right: -10px;
					margin-left: -10px;
					
					> .field_con {
						padding: 0 10px;
						&.phrase { width: calc(100% - 100px); }
						&.letter, &.type, &.group { width: calc(100% / 3); margin-bottom: 15px; }
					}
					
					> .submit {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-left: 5px;
						width: 85px;
						color: #fff;
						background-color: $color_green_500;
						cursor: pointer;
						transition: all 250ms;
						
						&:hover {
							background-color: $color_green_300;
						}
					}
				}
				
				> .results {
					margin-top: 30px;
					padding-top: 30px;
					border-top: 3px dashed #ddd;
					
					> .ul {
						display: flex;
						flex-wrap: wrap;
						
						> .li {
							display: flex;
							align-items: center;
							margin-bottom: 10px;
							padding: 0 15px;
							width: calc(50% - 5px);
							height: 40px;
							font-family: "Courier New", tahoma, arial, sans-serif;
							font-size: 14px;
							background-color: #fff;
							border: 1px solid #ddd;
							
							&:nth-child(2n) {
								margin-left: 10px;
							}
						}
					}
				}
			}
			
			&.sidebar {
				min-height: calc(100vh - 100px);
				border-left: 1px solid #ddd;
				
				.field_group {
					margin-bottom: 15px;
					
					.label {
						margin-bottom: 5px;
						color: #555;
					}
					
					.field {
						
						&.examples {
							height: auto;
						}
					}
				}
				
				.submit_con {
					display: flex;
					justify-content: center;
					
					> .submit {
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0 10px;
						padding: 5px 20px;
						color: #fff;
						background-color: $color_green_500;
						transition: all 250ms;
						cursor: pointer;
						
						&.create {
							background-color: $color_green_500;
							&:hover {
								background-color: $color_green_300;
							}
						}
						&.edit {
							background-color: $color_blue_500;
							&:hover {
								background-color: $color_blue_300;
							}
						}
					}
				}
			}
		}
	}
}