<div class="container-fluid">
	
	<div class="row no-gutters">
		
		<!-- search -->
		<div class="col main">
			
			<div class="chars">
				<div class="char" (click)="copyToClipboard('Ä')">Ä</div>
				<div class="char" (click)="copyToClipboard('ä')">ä</div>
				<div class="char" (click)="copyToClipboard('Ö')">Ö</div>
				<div class="char" (click)="copyToClipboard('ö')">ö</div>
				<div class="char" (click)="copyToClipboard('Ü')">Ü</div>
				<div class="char" (click)="copyToClipboard('ü')">ü</div>
				<div class="char" (click)="copyToClipboard('ß')">ß</div>
				<div class="copy" [ngClass]="{show: showCopied}">Copied to Clipboard</div>
			</div>
			
			<div class="form_search">
				<div class="field_con phrase">
					<input class="field" type="text" name="phrase" placeholder="word or phrase" [(ngModel)]="searchCreate_phrase">
				</div>
				<div class="field_con letter">
					<select name="letter" class="field" id="search_letter" [(ngModel)]="search_letter">
						<option value="0">All Letters</option>
						<option value="{{ letter.value }}" *ngFor="let letter of letters">{{ letter.label }}</option>
					</select>
				</div>
				<div class="field_con type">
					<select name="type" class="field" id="search_type" [(ngModel)]="search_type">
						<option value="0">All Types</option>
						<option value="{{ type.value }}" *ngFor="let type of types">{{ type.label }}</option>
					</select>
				</div>
				<div class="field_con group">
					<select name="group" class="field" id="search_group" [(ngModel)]="search_group">
						<option value="0">All Groups</option>
						<option value="{{ group.value }}" *ngFor="let group of groups">{{ group.label }}</option>
					</select>
				</div>
				<div class="submit" (click)="onSearch()">search</div>
			</div>
			
			<div class="results">
				<div class="ul">
					<div class="li" *ngFor="let result of results; let i=index" (click)="onResultClick(i)">li</div>
				</div>
				<div class="li_info">
					<div class="form_edit">
						<div class="field_group">
							<div class="label">Word or Phrase :</div>
							<div class="field_con">
								<input class="field phrase" type="text" [(ngModel)]="edit_phrase">
							</div>
						</div>
						
						<div class="field_group">
							<div class="label">Type :</div>
							<div class="field_con">
								<select name="type" class="field type" [(ngModel)]="edit_type">
									<option value="{{ type.value }}" *ngFor="let type of types">{{ type.label }}</option>
									<option value="_create_new_">-- create new type --</option>
								</select>
								<input class="field type_new" type="text" *ngIf="edit_type === '_create_new_'" [(ngModel)]="edit_type_new" placeholder="Create New Type">
							</div>
						</div>
						
						<div class="field_group">
							<div class="label">Group :</div>
							<div class="field_con">
								<select name="group" class="field group" [(ngModel)]="edit_group">
									<option value="{{ group.value }}" *ngFor="let group of groups">{{ group.label }}</option>
									<option value="_create_new_">-- create new group --</option>
								</select>
								<input class="field group_new" type="text" *ngIf="edit_group === '_create_new_'" [(ngModel)]="edit_group_new" placeholder="Create New Group">
							</div>
						</div>
						
						<div class="field_group">
							<div class="label">Meaning :</div>
							<div class="field_con">
								<input class="field meaning" type="text" [(ngModel)]="edit_meaning">
							</div>
						</div>
						
						<div class="field_group">
							<div class="label">Examples (separate by enter) :</div>
							<div class="field_con">
								<textarea class="field examples" rows="4" [(ngModel)]="edit_examples"></textarea>
							</div>
						</div>
						
						<div class="submit_con">
							<div class="submit" (click)="onEdit()">Edit</div>
						</div>
					</div>
				</div>
			</div>
			
		</div><!-- /search -->
		
		
		
		<!-- create_edit -->
		<div class="col sidebar">
			
			<div class="form_create">
				<div class="field_group">
					<div class="label">Word or Phrase :</div>
					<div class="field_con">
						<input class="field phrase" type="text" [(ngModel)]="searchCreate_phrase">
					</div>
				</div>
				
				<div class="field_group">
					<div class="label">Type :</div>
					<div class="field_con">
						<select name="type" class="field type" [(ngModel)]="create_type">
							<option value="{{ type.value }}" *ngFor="let type of types">{{ type.label }}</option>
							<option value="_create_new_">-- create new type --</option>
						</select>
						<input class="field type_new" type="text" *ngIf="create_type === '_create_new_'" [(ngModel)]="create_type_new" placeholder="Create New Type">
					</div>
				</div>
				
				<div class="field_group">
					<div class="label">Group :</div>
					<div class="field_con">
						<select name="group" class="field group" [(ngModel)]="create_group">
							<option value="{{ group.value }}" *ngFor="let group of groups">{{ group.label }}</option>
							<option value="_create_new_">-- create new group --</option>
						</select>
						<input class="field group_new" type="text" *ngIf="create_group === '_create_new_'" [(ngModel)]="create_group_new" placeholder="Create New Group">
					</div>
				</div>
				
				<div class="field_group">
					<div class="label">Meaning :</div>
					<div class="field_con">
						<input class="field meaning" type="text" [(ngModel)]="create_meaning">
					</div>
				</div>
				
				<div class="field_group">
					<div class="label">Examples (separate by enter) :</div>
					<div class="field_con">
						<textarea class="field examples" rows="4" [(ngModel)]="create_examples"></textarea>
					</div>
				</div>
				
				<div class="submit_con">
					<div class="submit" (click)="onCreate()">Create</div>
				</div>
			</div>
			
		</div><!-- /sidebar -->
		
	</div><!-- /row -->
</div>
