//---> Create   :   1397.
//---> Finish   :   --
//---> Update   :   --
/*****************************/
.field_con {
	
	> .field {
		padding: 0 10px;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		height: 30px;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	> textarea.field {
		padding: 10px;
	}
}